# Ignore sensitive files like the encrypted file
credstore.txt

# Ignore user-specific files
*.ps1.user
*.ps1xml
*.pssc
*.psd1
*.psm1

# Ignore PowerShell analysis cache
PSScriptAnalyzerSettings.psd1

# Ignore PowerShell test results
TestResults/

# Ignore temp files
*.tmp
*.bak
*.swp

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Visual Studio Code workspace settings
.vscode/
.vscode-test/

# Ignore compiled executables
*.exe
*.dll
*.so
*.dylib

# Ignore Git ignore itself
.gitignore
